html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all 1.2s;
}

/* .smooth-scroll {
  scroll-behavior: smooth;
  transition: all 0.40s;
} */
body {
  /* background-color: #f5f2ea; */
  background-color: white;
  color: black;
}

.navbar img {
  width: 30%;
  object-fit: contain;
  background-color: #cdaa80;
  border-radius: 1rem;
}
.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 50;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  padding-top: 50px;
  transition: all 0.3s;
  opacity: 0.9;
}
.title-alignment{
  padding-left: 5rem;
}



/* .sidenav-hoverline li {
  display: inline-block;
}

.sidenav-hoverline li a {
  text-decoration: none;
  color: #fff;
  font-family: Source Sans Pro;
  font-weight: lighter;
  font-size:25px;
  padding: 0 20px;
}

.sidenav-hoveline::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.sidenav-hoverline:hover::after {
  width: 100%;
  transition: width 0.3s;

} */
/* section seperation line */
.borderline {
  border-bottom: 1px solid #cdaa80;
  margin: 0 5% 0 5%;
  padding-top: 50px;
  /* background-color: #cdaa80; */
}

.box {
  /* width: 400px; */
  /* border: 0px solid #000;
  margin: 0 auto; */
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.box .box-img {
  transform: rotateY(0);
  transition: all 0.5s ease-in-out 0s;
}

.box:hover .box-img {
  transform: rotateY(-90deg);
}

.box .box-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.box .box-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 60px 20px;
  border: 0.5px solid;
  box-sizing: border-box;
  text-align: center;
  color: black;
  background: #f9f9f9;
  transform: rotateY(90deg);
  transition: all 0.5s ease-in-out 0s;
  border-radius: 10px;
  border-color: #cdaa80;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-weight: 200;
}

.button-content {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  border: 1px solid #cdaa80;
  border-radius: 25px;
}

.button-content:hover {
  background-color: #cdaa80;
  color: white;
}

.box-content h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.box:hover .box-content {
  transform: rotateY(0);
}

.ftco-navbar-light.scrolled.awake a.gotopbutton {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

.ftco-navbar-light.scrolled.awake a.gotopbutton i.fas.fa-arrow-circle-up {
  display: block;
}

.ftco-navbar-light a.gotopbutton i.fas.fa-arrow-circle-up {
  display: none;
}

.video {
  cursor: pointer;
}

.sidenav p,
.sidenav a.link {
  margin: 0;
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  display: block;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 1;
}

.sidenav p:hover,
.link:hover {
  cursor: pointer;
  color: #cdaa80;
  text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  text-decoration: none !important;
}

#hair__compounds p {
  font-size: 0.9rem;
}

.col-md-6.col-lg-3 {
  padding-left: 0;
}

.image-1 {
  height: 389px;
  width: 496px;
}

.image-2 {
  height: 300px;
  width: 821px;
}

.image-8 {
  height: 302px;
  width: 299px;
}
.image-49 {
  height: 159px;
  width: 380px;
}

.image-34 {
  height: 212px;
  width: 304px;
}

.image-30 {
  height: 300px;
  width: 511px;
}

.image-57 {
  height: 229px;
  width: 300px;
}

.image-48 {
  height: 267px;
  width: 649px;
}

#image-17 {
  height: 387px;
  width: 733px;
}

.image-36 {
  height: 350px;
  width: 450px;
}

.image-44 {
  height: 180.63px;
  width: 400.91px;
}

.image-47 {
  height: 357px;
  width: 537px;
}

.imp-box {
  background-color: #d1d1d1;
}

.image-41 {
  height: 366px;
}

.image-21 {
  height: 400px;
  width: 1101px;
}

.image-51 {
  height: 350px;
  width: 532px;
}

.image-32 {
  height: 350px;
  width: 1107px;
}

.gallery-heading {
  padding-top: 100px;
}

.img-wrap.techpad {
  padding: 0;
}
#how_to_apply_wefts_images {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-item .nav-link:hover {
  cursor: pointer;
  color: #cdaa80 !important;
}

.img-wrap {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  z-index: 0;
  padding: 10px;
}

/* #order-img-width {
  width: 1200px;
  height: 500px;
} */

.img-wrap:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  z-index: 1;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.img-wrap img {
  /* opacity: 0.8; */
  transition: all 0.5s ease;
  border-radius: 10px;
}

/* .img-wrap img:hover {
  opacity: 1;
  transform: scale(0.8);
} */

.img-wrap .text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3em;
  opacity: 0;
  z-index: 2;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.img-wrap .text span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.8);
}
.img-wrap .text h3 {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  text-orientation: sideways;
  text-align: center;
  text-orientation: sideways;
  margin: 0rem;
  position: absolute;
  top: 0;
  right: 100px;
  height: 100%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 24px;
  z-index: 1;
  font-family: "Barlow Condensed", sans-serif;
}
.img-wrap .text h3 a {
  color: #fff;
}
/* .img-wrap:hover .text,
.img-wrap:focus .text {
  opacity: 1;
  transform: scale(0.8);
  bottom: 0;
}

.img-wrap:hover:after,
.img-wrap:focus:after {
  transform: scale(0.8);
  opacity: 0.8;
}
.img-wrap:hover img,
.img-wrap:focus img {
  opacity: 1;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
} */

@media only screen and (max-width: 600px) {
  .navbar {
    position: relative;
  }
  .sidenav {
    position: fixed;
    z-index: 3;
    top: 50;
    left: 0;
  }
}

* {
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

body.dark {
  background-color: rgba(235, 232, 222);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.label {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 26px;
  width: 50px;
  margin-right: 50px;
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
